@import "./fonts";

.section {
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
  max-width: 1500px;
}

.title {
  font-family: Lato-Bold, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 80px;
}

.subtitle {
  font-family: Lato-Bold, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #331A2F;
}

.text_price {
  font-family: Lato-Regular, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 29px;
  text-transform: uppercase;
  color: rgba(51, 26, 47, 0.8);
}

.text_price_numbers {
  font-family: Lato-Regular, sans-serif;
  font-weight: 700;
  font-size: 38px;
  line-height: 42px;
  color: #CF51CE;
}

.text {
  font-family: Lato-Regular, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 160%;
}

.feature-title {
  font-family: Lato-Bold, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
}

.feature-text {
  font-family: Lato-Bold, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 0.02em;
}

.btnText {
  font-family: Lato-Regular, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  line-height: 35px;
  letter-spacing: 0.02em;
}

.subtext {
  font-family: Lato-Regular, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.link {
  font-family: Lato-Bold, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  line-height: 35px;
  letter-spacing: 0.02em;
  
  &:hover {
    color: $pink;
    transition: all 0.4s ease-out;
  }
}

.btn {
  background: $pink;
  border: 0;
  border-radius: 12px;
  &:hover {
    box-shadow: 0 0 10px 5px rgba(158, 66, 180, 0.2);
    transition: all 0.3s ease-out;
  }
}


@media screen and (max-width: 1440px) {
  .section {
    max-width: 1200px;
  }

  .title {
    font-size: 46px;
    line-height: 65px;
  }
  
  .subtitle {
    font-size: 40px;
    line-height: 64px;
  }

  .btnText {
    font-size: 18px;
  }

  .text {
    font-size: 20px;
  }

  .link {
    font-size: 18px;
  }
  .feature-title {
    font-size: 24px;
    line-height: 150%;
  }
  .feature-text {
    font-size: 16px;
    line-height: 160%;
  }
}

@media screen and (max-width: 1278px) {
  .section {
    max-width: 717px;
  }
}

@media screen and (max-width: 768px) {
  .text__login {
    padding: 8px 20px 10px 20px;
  }
  .subtext__training {
    margin-bottom: 5vw;
  }
  .title {
    font-size: 26px;
    line-height: 150%;
  }

  .main__sentence {
    font-size: 18px;
    line-height: 160%;
  }

  .subtitle {
    font-size: 24px;
    line-height: 150%;
  }

  .feature-title {
    font-size: 20px;
    line-height: 150%;
  }

  .feature-text {
    font-size: 20px;
    line-height: 150%;    
  }
  .text {
    font-size: 18px;
    line-height: 160%;   
  }
}
