@font-face {
  font-family: Lato-Bold;
  font-weight: 100;
  src: url("../../fonts/Lato-Bold.ttf");
}

@font-face {
  font-family: Lato-Regular;
  font-weight: 400;
  src: url("../../fonts/Lato-Bold.ttf");
}