@import "./null";
@import "./fonts";
@import "./variables";
@import "./components";

.wrapper {
  margin: 0 auto;
  max-width: 1920px;
  width: 100%;
  position: relative;
}

// header
.header {
  padding-top: 20px;
  margin-bottom: 60px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  display: flex;
  position: relative;
  align-items: center;
  margin-right: 17px;
}

.header__img_logo {
  width: 60px;
  height: 30px;
  align-self: flex-start;
}

.header__img_stat4market {
  width: 162px;
  height: 23px;
  margin-left: 17px;
  margin-right: 17px;
}

.header__slogan {
  position: relative;
  max-width: 208px;
  width: 100%;
  padding-left: 18px;
}

.slogan__text {
  font-size: 14px;
  line-height: 18px;

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 100%;
    background: #e4e4ea;
    background: linear-gradient(180deg, #e4e4ea 0, #77748c 50%, #e4e4ea 100%);
    opacity: .63;
    left: 0;
    top: -3px;
  }
}

.nav {
  max-width: 45vw;
  width: 100%;
}

.nav__list {
  display: flex;
  justify-content: center;
}

.nav__item {
  display: flex;
  align-items: center;

  &:first-child {
    margin-right: 5%;
  }

  &:last-child {
    margin-left: 14vw;
  }
}

.nav__link {
  color: $black;
}

.text__login {
  padding: 8px 32px 10px 32px;
  color: $white;
}

.btn__login {
  display: flex;
  align-items: center;

  .icon__login {
    margin-right: 15px;
  }

  &:hover {
    box-shadow: #77748c;
  }
}

.icon {
  margin-right: 10px;
}



// main
.main__section::before {
  content: "";
  position: absolute;
  background: url("../../images/BGEllipse.png") right top no-repeat;
  width: 102px;
  height: 780px;
  left: 0;
  top: 0;
}

.subtext__training {
  color: rgba(51, 26, 47, 0.5);
}

.main__info {
  max-width: 858px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.main__price {
  display: flex;
  align-items: flex-end;
  margin-bottom: 16px;
}

.main {
  display: flex;
  justify-content: space-between;
  margin-bottom: 147px;
}

.main__title {
  margin-bottom: 22px;

  span {
    color: $pink;
  }
}

.main__hero {
  max-width: 620px;
  width: 100%;
  max-height: 604px;
}


// history
.history__section::before {
  content: "";
  position: absolute;
  background: url("../../images/BGEllipse2.png") right top no-repeat;
  width: 42px;
  height: 780px;
  right: 0;
  top: 350px;
}

.subtitle__history {
  margin: 0 auto;
  max-width: 844px;
  width: 100%;
  margin-bottom: 85px;
}

.history {
  margin-bottom: 140px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.history__sentence {
  max-width: 750px;
  width: 100%;
}


// info
.info__subtitle {
  margin: 0 auto;
  margin-bottom: 23px;
  max-width: 698px;
  width: 100%;
  text-align: center;
  position: relative;
  

  .subtitle_design::before {
    content: "";
    position: absolute;
    bottom: -5px;
    right: 0;
    width: 267px;
    height: 7px;
    background: linear-gradient(264.91deg, #7C4EAB 0.73%, #DD51D4 95.85%);
    border-radius: 5px;
  }

  .subtitle_number {
    color: #EA5DBB;
  }

}

.info__sentence {
  margin: 0 auto;
  margin-bottom: 85px;
  max-width: 846px;
  text-align: center;
}

.info__features {
  display: flex;
  justify-content: space-between;
  margin-bottom: 131px;
}

.info__feature {
  max-width: 290px;
  width: 100%;
}

.wrapper__svg {
  margin-bottom: 30px;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $pink;
  box-shadow: 0px 4px 25px rgba(234, 93, 187, 0.25);
  border-radius: 15px;

  .feature__icon {
    margin: 0;
  }
}

.feature-title {
  margin-bottom: 15px;
}

@media screen and (max-width: 1680px){
  .nav {
    max-width: 40vw;
  }
  .nav__item:last-child {
    margin-left: 9vw;
  }
  .history__section::before {
    content: none;
  }
}