@import "./null";
@import "./fonts";
@import "./variables";
@import "./components";

.wrapper {
  margin: 0 auto;
  max-width: 1920px;
  width: 100%;
  position: relative;
}

// header
.header {
  padding-top: 20px;
  margin-bottom: 60px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  margin-right: 17px;
}

.header__wrapper-img_logo {
  align-self: flex-start;
}

.header__wrapper-img_stat4market {
  margin-left: 17px;
  margin-right: 17px;
}

.header__img_stat4market {
  width: 162px;
  height: 23px;
}

.header__slogan {
  position: relative;
  max-width: 208px;
  width: 100%;
  padding-left: 18px;
}

.slogan__text {
  font-size: 14px;
  line-height: 18px;

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 100%;
    background: #e4e4ea;
    background: linear-gradient(180deg, #e4e4ea 0, #77748c 50%, #e4e4ea 100%);
    opacity: .63;
    left: 0;
    top: -3px;
  }
}

.nav {
  max-width: 750px;
  width: 100%;
}

.nav__list {
  display: flex;
  justify-content: center;
}

.nav__item {
  display: flex;
  align-items: center;

  &:first-child {
    margin-right: 5%;
  }

  &:last-child {
    margin-left: 200px;

  }
}

.nav__link {
  color: $black;
}

.text__login {
  padding: 8px 32px 10px 32px;
  color: $white;
}

.btn__login {
  display: flex;
  align-items: center;

  &:hover {
    box-shadow: #77748c;
  }
}

.icon__login {
  margin-right: 15px;
}

.icon {
  margin-right: 10px;
}



// main
.main__section::before {
  content: "";
  position: absolute;
  background: url("../../images/BGEllipse.png") right top no-repeat;
  width: 102px;
  height: 780px;
  left: 0;
  top: 0;
}

.subtext__training {
  color: rgba(51, 26, 47, 0.5);
}

.main__info {
  max-width: 858px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.main__price {
  display: flex;
  align-items: flex-end;
  margin-bottom: 16px;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 147px;
}

.main__title {
  margin-bottom: 22px;

  span {
    color: $pink;
  }
}

.hero__img {
  width: 620px;
  height: 604px;
}


// history
.history__section::before {
  content: "";
  position: absolute;
  background: url("../../images/BGEllipse2.png") right top no-repeat;
  width: 42px;
  height: 780px;
  right: 0;
  top: 350px;
}

.purchase__img {
  margin-right: 5vw;
}

.laptop__img {
  margin-left: 5vw;
}

.subtitle__history {
  margin: 0 auto;
  max-width: 844px;
  width: 100%;
  margin-bottom: 85px;
}

.history {
  margin-bottom: 140px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.history__block {
  display: flex;
  align-items: center;
}

.history__sentence {
  max-width: 650px;
}


// info
.info__subtitle {
  margin: 0 auto;
  margin-bottom: 23px;
  max-width: 698px;
  width: 100%;
  text-align: center;

  .subtitle_design {
    position: relative;
  }

  .subtitle_design::before {
    content: "";
    position: absolute;
    bottom: -5px;
    right: 0;
    width: 100%;
    height: 7px;
    background: linear-gradient(264.91deg, #7C4EAB 0.73%, #DD51D4 95.85%);
    border-radius: 5px;
  }

  .subtitle_number {
    color: #EA5DBB;
  }

}

.info__sentence {
  margin: 0 auto;
  margin-bottom: 85px;
  max-width: 846px;
  text-align: center;
}

.info__features {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10vh;
}

.info__feature {
  width: 290px;

}

.wrapper__svg {
  margin-bottom: 30px;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $pink;
  box-shadow: 0px 4px 25px rgba(234, 93, 187, 0.25);
  border-radius: 15px;

  .feature__icon {
    margin: 0;
  }
}

.feature-title {
  margin-bottom: 15px;
}



@media screen and (max-width: 1680px) {
  .nav {
    max-width: 40vw;
  }

  .nav__item:last-child {
    margin-left: 108px;
  }

  .main__section::before {
    width: 23px
  }

  .history__section::before {
    content: none;
  }
}

@media screen and (max-width: 1440px) {
  .hero__img {
    width: 458px;
    height: 458px;
    margin-left: 3vw;
  }

  .purchase__img {
    width: 352px;
    height: 362px;
    margin-right: 5vw;
  }

  .laptop__img {
    width: 358px;
    height: 358px;
    margin-left: 3vw;
  }

  .info__feature {
    width: 225px;
  }
}

.noscroll {
  max-height: 100vh;
  overflow: hidden;
}

.burger__menu.burger__nav {
  transform: translateX(100%);
  transition: transform .9s;
}

.burger__menu.burger__nav.open {
  display: flex;
  transform: translateX(0);
  margin: 0;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  max-width: 70vw;
  width: 100%;
  height: 100vh;
  background-color: $pink;
  z-index: 30;

  .burger__menu.nav__list.open {
    display: flex;
    flex-direction: column;
    background-color: #e4e4ea;
  }
}

.burger__menu.nav__item {
  display: none;
}

.burger__menu.nav__item.open {
  display: block;
  margin: 0;
  background-color: $pink;

  .burger__menu.link.nav__link {
    display: inline;
    color: #e4e4ea;

    &:hover {
      color: #9c9c9e;
    }
  }
}


@media screen and (max-width: 1278px) {
  .burger__wrapper {
    display: block;
    width: 42px;
    height: 28px;
    margin-left: 3vw;
    cursor: pointer;
    position: relative;
  }

  .burger__stick {
    width: 42px;
    height: 4px;
    position: absolute;
    background-color: $pink;
    border-radius: 4px;
    margin-bottom: 7px;
    transition: all 0.9s;

    &:nth-child(2) {
      top: calc(50% - 5px);
    }

    &:last-child {
      width: 32px;
      top: calc(50% + 5px);
      right: 0;
    }
  }

  .burger__stick.open {
    background-color: #e4e4ea;
    margin: 0;
    z-index: 40;

    &:first-child {
      top: 50%;
      transform: rotate(45deg);
    }

    &:nth-child(2) {
      top: 50%;
      transform: rotate(135deg);
    }

    &:last-child {
      display: none;
    }
  }

  .slogan__text {
    font-size: 10px;
  }

  .hero__wrapper-img {
    display: none;
  }

  .nav {
    display: none;
  }

  .main__section::before {
    background: url(../../images/Superman.png) no-repeat;
    width: 238px;
    height: 410px;
    top: 350px;
    right: 0;
    left: auto;
  }

  .main__sentence {
    max-width: 482px;
    width: 100%;
  }

  .purchase__img {
    width: 270px;
    height: 277px;
  }

  .history__block {
    margin-bottom: 60px;
  }

  .history__sentence {
    max-width: 400px;
    width: 100%;
  }

  .laptop__img {
    width: 270px;
    height: 270px;
  }

  .info__sentence {
    max-width: 680px;
  }

  .info__features {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .info__feature {
    width: 255px;
    margin-bottom: 5vw;
  }
}


@media screen and (max-width: 768px) {
  .header {
    justify-content: space-around;
  }

  .header__logo {
    height: 100%;
  }

  .text__login {
    padding: 8px 20px 10px 20px;
  }

  .header__img_logo {
    width: 35.1px;
    height: 17.74px
  }

  .header__slogan {
    display: none;
  }

  .main__section::before {
    background: url(../../images/SupermanSmall.png) no-repeat;
    width: 136px;
    height: 245px;
    top: 150px;
  }

  .main__title {
    width: 350px;
  }

  .info__feature {
    margin-bottom: 10vw;
  }

  .info__features {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }

  .info__feature {
    display: flex;
    flex-direction: column;
    width: 260px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .main {
    margin-bottom: 80px;
  }

  .header__img_stat4market {
    width: 90px;
    height: 16px;
    object-fit: unset;
  }

  .main__sentence {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .history__block {
    flex-direction: column;

    &:last-child {
      flex-direction: column-reverse;
    }
  }
}

@media screen and (max-width: 556px) {
  .header__wrapper-img_stat4market {
    margin: 0;
  }

  .history {
    margin-bottom: 0;
  }

  .text__login {
    padding: 4px 20px 4px 20px;

    svg {
      width: 15px;
      height: 15px;
    }
  }

  .icon__login {
    margin-right: 8px;
  }

  .main__title {
    width: 212px;
  }

  .main__section::before {
    width: 116px;
  }

  .subtitle__history {
    margin-bottom: 10px;
  }

  .purchase__img,
  .laptop__img {
    margin: 0;
    margin-bottom: 30px;
  }

  .info__feature {
    width: 260px;
  }

  .info__sentence {
    margin-bottom: 40px;
  }
}