@import "./null";
@import "./fonts";
@import "./components";

$white: #FFFFFF;
$black: #331A2F;

.header {
  margin-top: 20px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: space-around;

}

.header__logo {
  display: flex;
  align-items: center;
  margin-right: 17px;
}

.header__img_logo {
  width: 60px;
  height: 30px;
  align-self: flex-start;
}

.header__img_stat4market {
  width: 162px;
  height: 23px;
  margin-left: 17px;
  margin-right: 17px;
}

.header__slogan {
  position: relative;
  max-width: 230px;
  width: 100%;
  padding-left: 18px;
}

.slogan__text {
  font-size: 14px;
  line-height: 18px;
  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 100%;
    background: #e4e4ea;
    background: linear-gradient(180deg, #e4e4ea 0, #77748c 50%, #e4e4ea 100%);
    opacity: .63;
    left: 0;
    top: -3px;
  }
}

.slogan__text

.header__nav {
  max-width: 750px;
  width: 100%;
}

.nav__list {
  display: flex;
  justify-content: flex-start;
}

.nav__item:last-child {
  justify-content: flex-end;
}

.nav__link {
  color: $black;
}

.text__login {
  padding: 4px 32px 5px 69px;
  color: $white;
}